body
{
background-color: rgb(245,206,75);
}

canvas
{
    border-width: 9px;
    background-color: black;
}

img{
    padding-top: 0px;
    width: 300px;
    height: 200px;
}
h4
{
    background-color:#e2d7d7 ;
    margin: 0px;
    line-height: 2;
}